label.token-label {

}

label.token-code,
button.token-code {
    font-size: 2em;
    font-family: monospace;
}

button.token-code {
    margin-top: 7px;
}

label.errorbar {
    background: #c00;
    color: white;
    padding: 12px;
}
